.App {
  text-align: center;
}

.container {
  width: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-top: -50px;
}

/* Counter.css */
.counter-container {
  width: 300px;
  height: 150px;
  background-color: #edf2f7;
  padding: 0.2rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 20px;
}

.counter-value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.counter-button {
  background-color: #4299e1;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 50px;
  width: 70px;
  height: 45px;
  cursor: pointer;
  margin: 5px;
}

.counter-button:hover {
  background-color: #3182ce;
}

/* PowerFive.css */
.exponent-counter-container {
  background-color: #f0f4f8;
  padding: 0.1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  max-width: 400px;
  min-height: 150px;
  margin: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.exponent-label {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.exponent-result {
  font-size: 1.5rem;
  font-weight: 500;
}

.total {
  font-size: 1.6rem;
  font-weight: 700;
}
